<%= form_with model: spot, local: true do |f|  %>
  <%= render 'shared/error_messages', resource: f.object %>

  <%= f.label :name, "スポットネーム" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :introduction, "スポット紹介" %>
  <%= f.text_area :introduction, class: "form-control" %>

  <%= f.label :spot_image, "スポット画像" %>
  <%= f.file_field :spot_image, onchange: 'previewImage(event)', class: "form-control" %>
  <%= f.hidden_field :spot_image_cache %>

  <div class="mt-3 mb-3">
    <% if spot.spot_image.present? %>
      <%= image_tag spot.spot_image.url, id: 'preview', size: '300x200' %>
    <% else %>
      <%= image_pack_tag 'media/images/default_image.png', id: 'preview', size: '300x200' %>
    <% end %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>
