<div class="text-center mb-4">
  <h1><i class="fas fa-list"></i> スポット一覧</h1>
  <p>ここでは投稿されたスポットが一覧で確認できます</p>
  <p>全<%= @spots.total_count %>件のスポットが登録されています</p>
</div>

<%= search_form_for @q, url: spots_path, method: :get, html: { class: "search-form" } do |f| %>
  <div class="search-box">
    <%= f.text_field :name_or_description_cont,
      placeholder: "検索ワードを入力",
      class: "search-input" %>
    <button type="submit" class="search-icon">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>

<div class="spots-index-container">
  <% @spots.each do |spot| %>
    <div class="spot-card">
      <div class="spot-card__image">
        <% if spot.images.any? %>
          <%= link_to spot_path(spot) do %>
            <%= image_tag spot.images.first.name.url, alt: spot.name, class: "spot-card__img" %>
          <% end %>
        <% else %>
          <%= link_to spot_path(spot) do %>
            <div class="no-image">No Image</div>
          <% end %>
        <% end %>
      </div>

      <div class="spot-card__body">
        <% truncated_name = truncate(spot.name, length: 20) %>
        <h2>
          <%= link_to truncated_name, spot_path(spot), class: "spot-card__link" %>
        </h2>

        <% truncated_desc = truncate(spot.description, length: 50, separator: ' ', omission: '…') %>
        <p>
          <%= truncated_desc %>
          <% if spot.description.length > 50 %>
            <%= link_to t('links.read_more'), spot_path(spot), class: 'read-more-link' %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center my-3">
  <%= paginate @spots %>
</div>

