<div class="container">
  <div class="spot-details">
    <div class="spot-detail-section">
      <h2 class="spot-title"><%= @spot.name %></h2>
    </div>

    <div class="spot-detail-section">
      <h3 class="section-title">スポット詳細</h3>
      <p class="spot-description"><%= @spot.description %></p>
    </div>

    <div class="spot-detail-section">
      <h3 class="section-title">スポット画像</h3>
      <div class="spot-gallery">
        <% @spot.images.each_slice(5) do |images| %>
          <div class="gallery-row">
            <% images.each do |image| %>
              <div class="gallery-item">
                <a href="<%= image.name.url %>" data-lightbox="spot-images">
                  <%= image_tag image.name.url, class: 'spot-image' %>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% if current_user == @spot.user %>
      <%= link_to '編集する', edit_spot_path(@spot), class: 'btn btn-primary' %>
      <%= link_to '削除する', spot_path(@spot), class: 'btn btn-danger sweet-delete' %>
    <% end %>
    </div>
  </div>
</div>
