<div class="form-group">
  <div id="logreg-forms">
    <!-- ソーシャルログイン部分 -->

    <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), local: true, class: 'form-signin') do |form| %>
      <!-- ログインフォームのヘッダー -->
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">ログイン</h1>

      <!-- ログインフォームのフィールド -->
      <div class="input-group">
        <%= form.email_field :email, id: 'inputEmail', class: 'form-control', placeholder: 'Email address', autofocus: true %>
      </div>
      <div class="input-group">
        <%= form.password_field :password, id: 'inputPassword', class: 'form-control', placeholder: 'Password' %>
      </div>

      <!-- ログインボタン -->
      <div class="input-group">
        <%= form.submit "Sign in", class: "btn btn-md btn-rounded btn-block form-control submit" %>
      </div>

      <%= link_to 'Forgot password?', new_user_password_path, id: 'forgot_pswd' %>
      <hr>

      <!-- サインアップボタン -->
      <%= link_to 'Sign up New Account', signup_path, class: 'btn btn-primary btn-block', id: 'btn-signup' %>
    <% end %>
    <br>
  </div>
</div>
