<!DOCTYPE html>
  <head>
    <title>JapaneseHeritage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <%= favicon_pack_tag 'favicon.ico' %>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  </head>

  <body id="page-top">
    <noscript>
      <div class="alert alert-warning text-center" role="alert">
        ⚠ JavaScript が無効になっています。<br>
        このアプリの一部機能が動作しません。
      </div>
    </noscript>
    <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %> 
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
