<div class="col-md-10 user-view page-my">
  <div class="user-view-box">
    <section class="profile-section mb-5">
      <h3 class="section-title mb-4">マイページ</h3>

      <div class="profile-table">
        <div class="profile-label">名前</div>
        <div class="profile-value"><%= @user.name %></div>

        <div class="profile-label">メールアドレス</div>
        <div class="profile-value"><%= @user.email %></div>
      </div>

      <div class="text-end mt-3">
        <%= link_to '編集',
                    edit_user_registration_path(@user),
                    class: 'btn btn-primary px-4' %>
      </div>
    </section>

    <section class="spots-section">
      <h4 class="section-title mb-3">登録スポット</h4>

      <%= form_with url: destroy_multiple_spots_path,
                    method: :delete,
                    local: true,
                    id: 'delete-spots-form' do |f| %>

        <div class="my-spots-container">
          <% @spots.each do |spot| %>
            <div class="spot-with-check">
              <%= render partial: 'spots/spot_card', locals: { spot: spot, size: :sm } %>
              <div class="form-check mt-1">
                <% check_id = "spot_#{spot.id}" %>
                <%= check_box_tag 'spot_ids[]', spot.id, false,
                                  id: check_id,
                                  class: 'form-check-input' %>
                <label for="<%= check_id %>" class="form-check-label">削除</label>
              </div>
            </div>
          <% end %>
        </div>

        <div class="d-flex justify-content-center my-4">
          <%= f.submit '選択した投稿を削除', class: 'btn btn-danger px-4' %>
        </div>
      <% end %>

      <div class="d-flex justify-content-center my-3">
        <%= paginate @spots %>
      </div>
    </section>
  </div>
</div>
