<div class="form-group">
  <div id="logreg-forms">
    <%= form_with(model: User.new, url: registration_path(User), local: true, class: 'form-signup') do |f| %>
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">新規会員登録</h1>

      <div class="input-group">
        <%= f.text_field :name, id: 'user-name', class: 'form-control', placeholder: 'name', required: true, autofocus: true %>
      </div>
      <div class="input-group">
        <%= f.email_field :email, id: 'user-email', class: 'form-control', placeholder: 'Email address', required: true %>
      </div>
      <div class="input-group">
        <%= f.password_field :password, id: 'user-pass', class: 'form-control', placeholder: 'Password', required: true %>
      </div>
      <div class="input-group">
        <%= f.password_field :password_confirmation, id: 'user-repeatpass', class: 'form-control', placeholder: 'Confirm Password', required: true %>
      </div>

      <div class="input-group">
        <%= f.submit "Sign Up", class: 'btn btn-md btn-rounded btn-block form-control submit' %>
      </div>
    <% end %>
    <br>
  </div>
</div>
